// bands
.x-bands {
    .x-list-item-label {
        font-weight: bold;
        line-height: 18px;

        .more {
            display: block;
            font-size: 14px;
            font-weight: normal;
            color: #777;
        }
    }

    .headshot {
        float: left;
        height: 37px;
        width: 37px;
        margin-right: 10px;
        background-size: cover;
        background-position: center center;
        background: #ddd;
        @include border-radius(3px);
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.6);
    }

    .x-item-pressed,
    .x-item-selected {
        border-top-color: #D1D1D1 !important;
    }
}

// show band
.x-show-band {
    background: #EEEEEE;

    .top {
        padding: 22px;
        height: 100px;

        .headshot {
            float: right;
            height: 200px;
            width: 200px;
            margin-right: 10px;
            background-size: cover;
            background-position: center center;
            @include border-radius(10px);
            border: 1px solid #444;
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.4);
        }

        .title, .artist, .needed, .playing {
            width: 195px;
            padding-bottom: 20px;
            font-size: 14px;

        }

        .title {
            font-size: 22px;
            font-weight: bold;
        }

        .artist {

            span {
                font-weight: bold;
            }
        }

        .needed {

            span {
                font-weight: bold;
            }
        }

        .playing {

            span {
                font-weight: bold;
            }
        }
    }

    .x-band-show-toolbar {
        .x-button {
            width: 180px;
            
            .x-button-icon {
                background-image: url('../images/phone.png') !important;
                background-size: cover;
                background-color: transparent !important;
            }
        }
    }
}