$base-gradient: matte;
$list-pressed-color: mix(#08679F, #fff, 10);
$list-active-color: mix(#043F62, #fff, 0);

//import the sencha touch theme
@import 'sencha-touch/default/all';
@import 'band';
@import 'login';

@include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-loading-spinner;

//blue toolbar
@include sencha-toolbar-ui('sencha', #06517E, matte);
.x-toolbar-sencha .x-title {
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

//buttons
@include sencha-button-ui('sencha', #2E9A3E, matte);

//Background image
#ext-viewport {
    background-image: url('../images/bg.png'); 
}


.x-toolbar-inner {
    .x-layout-hbox {
        position: relative;

        #editButton,
        #saveButton {
            position: absolute;
            right: 0;
            top: .4em;
        }
    }
}